.main__home__div {
	padding-bottom: 350px;
}
.post__link {
	color: #606c76;
}
.post__link:hover {
	color: blue;
	text-decoration: underline;
}

.home__h2 {
	font-weight: 600;
	color: #333;
}
.home__h3 {
	font-size: 1.3em;
	padding: 0;
	margin: 0;
}

#home__post__id {
	visibility: hidden;
}
