.contact__fieldset {
    margin: 1px auto 60px auto;
  }
  
  input.contact__field {
    margin-bottom: 1px;
  }
  textarea.contact__field {
    margin-bottom: -1px;
    height: 180px;
    
  }
  input.contact__field:focus, textarea.contact__field:focus{
    border-color: blue;
    outline: none;
    
  }
  
  button.btn {
    outline: none;
    border-color:#dbe3e9;
  }
  
  button.btn:hover{
    background-color: #96a8b4;
  }
  
  .btn__lg{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
  }
  
  .btn__block {
    display: block;
    width: 100%;
  }
  .btn__block + .btn__block {
    margin-top: 0.5rem;
  }
  .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    background-color: #b6bfc5;
    width: 100%;
    font-size: 1.25rem;
    border-radius: 0.3rem;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .btn {
      transition: none;
    }
  }
  
  
  
  @media only screen and (min-width: 599px) {
    .contact__fieldset {
      width: 60%;
    }
  
  }
  
  .fileupload input[type="file"] {
    display: none;
  }
  
  .fileupload {
    border: 1px solid #ccc;
    display: block;
    padding: 6px 12px;
    cursor: pointer;
    
  }
  
  span.error__msg {
    color: rgb(214, 54, 80);
    font-size: small;
  }
  
  .first__name {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  
  
  .contact__button {
    padding-top: 40px;
  }

  .security__code {
    font-weight: 900;
    color:red;
  }
  
  