@media only screen and (max-width: 320px){
    .singlepost__main__div {
        padding-right: 7px;
    }

}

code {
    border-radius: .4rem;
    font-size: 86%;
    /* padding: 7px 4px 7px 4px; */
    white-space: nowrap;
}

pre {
    border: 0.5px solid #cbd5df;
    overflow-y: hidden;
    /* padding:7px 4px 7px 4px; */
    /* width: 70%; */
}
  
pre > code {
    border-radius: 0;
    display: block;
    /* padding: 7px 0 7px 0; */
    white-space: pre;
}

a {
    color: blue;
    text-decoration: underline;
    font-weight: 500;
  
}
a:hover {
    color:blue
}

h5 {
    font-weight: bold;
}
