<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png" />
    <title><% preact.title %></title>
    <link rel="canonical" href="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.canonical %>" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.descContent %>" />
    <meta property="og:type" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.ogType %>">
    <meta property="og:url" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.ogUrl %>">
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.ogTitle %>">
    <meta property="og:description" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.ogDesc %>">
    <meta property="og:image" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.imgFB %>" />
    <meta property="og:image:alt" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.imgAlt %>">
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="twitter:card" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.twitterCard %>">
    <meta property="twitter:title" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.twitterTitle %>">
    <meta property="twitter:url" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.twitterUrl %>">
    <meta property="twitter:description" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.twitterDesc %>">
    <meta property="twitter:image" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.imgTwitter %>" />
    <meta property="twitter:image:alt" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.imgAlt %>">
    <meta property="twitter:creator" content="<%= htmlWebpackPlugin.options.CLI_DATA.preRenderData.twitterCreator %>">
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" href="https://gitcdn.xyz/repo/arnelimperial/ai-static-assets/master/css/frontend/styles.min.css" />
    
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
  </body>
</html>
